.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    max-width: 1280px;
    min-height: 80px;
    padding: 28px 48px 0;
    box-sizing: border-box;
}