.cover {

    max-width: 1184px;
    max-height: 740px;

    padding-top: 19.1%;
    padding-bottom: 19.1%;

    position: relative;

    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover::before {
    
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: #2A2C2F;

    opacity: 0.3;
    display: block;
    content: "";

    z-index: 2;

    transition-duration: 0.5s;
}

.cover:hover::before {

    opacity: 0.8;

}

@media screen and (max-width: 1023px) {
    
    .cover {
        max-height: 640px;
    }
}

@media screen and (max-width: 767px) {
    
    .cover {
        max-height: 480px;
    }
}

@media screen and (max-width: 611px) {
    
    .cover {
        max-height: 200px;
    }
}