.intro__title {
    margin: 0;
    margin-top: 114px;
    margin-bottom: 40px;

    max-width: 690px;

    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    /* identical to box height, or 107% */

    color: #FFFFFF;
}